# Урок 2

##  Тема: Работа с данными в Pandas

##### Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [1]:
%run hw_2_theme_2_Pandas_task_1.ipynb

In [2]:
authors

       author
1    Тургенев
2       Чехов
3  Островский

In [3]:
books

             book_title  price
1           Отцы и дети    450
1                 Рудин    300
1     Дворянское гнездо    350
2      Толстый и тонкий    500
2       Дама с собачкой    450
3                 Гроза    370
3  Таланты и поклонники    290

In [4]:
authors_price = pd.merge(authors, books, left_on=authors.index, right_on=books.index, how='inner')
authors_price.rename(columns={'key_0': 'author_id'}, inplace=True)
authors_price.set_index('author_id', inplace=True)
authors_price

               author            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290