# Урок 2

##  Тема: Работа с данными в Pandas

##### Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [1]:
%run hw_2_theme_2_Pandas_task_2.ipynb
authors_price

               author            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

In [2]:
top5 = authors_price.nlargest(5, 'price')
top5

               author         book_title  price
author_id
2               Чехов   Толстый и тонкий    500
1            Тургенев        Отцы и дети    450
2               Чехов    Дама с собачкой    450
3          Островский              Гроза    370
1            Тургенев  Дворянское гнездо    350