# Урок 2

##  Тема: Работа с данными в Pandas

##### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:

[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  

[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd

In [2]:
author_id = [1, 2, 3]
author_name = ['Тургенев', 'Чехов', 'Островский']
authors = pd.DataFrame(author_name, index=author_id, columns=['author'])
authors

       author
1    Тургенев
2       Чехов
3  Островский

In [3]:
author_id = [1, 1, 1, 2, 2, 3, 3]
book_title = ['Отцы и дети', 
              'Рудин', 
              'Дворянское гнездо', 
              'Толстый и тонкий', 
              'Дама с собачкой', 
              'Гроза', 
              'Таланты и поклонники']
price = [450, 300, 350, 500, 450, 370, 290]

books = pd.DataFrame(list(zip(book_title, price)), index=author_id, columns=['book_title','price'])
books

             book_title  price
1           Отцы и дети    450
1                 Рудин    300
1     Дворянское гнездо    350
2      Толстый и тонкий    500
2       Дама с собачкой    450
3                 Гроза    370
3  Таланты и поклонники    290