# Урок 2

##  Тема: Работа с данными в Pandas

##### Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [1]:
%run hw_2_theme_2_Pandas_task_4.ipynb

In [2]:
authors_price

               author            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

In [3]:
cover_list = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['cover'] = cover_list
authors_price

               author            book_title  price    cover
author_id
1            Тургенев           Отцы и дети    450  твердая
1            Тургенев                 Рудин    300   мягкая
1            Тургенев     Дворянское гнездо    350   мягкая
2               Чехов      Толстый и тонкий    500  твердая
2               Чехов       Дама с собачкой    450  твердая
3          Островский                 Гроза    370   мягкая
3          Островский  Таланты и поклонники    290   мягкая

In [4]:
# ?pd.pivot_table

In [5]:
import numpy as np
book_info = pd.pivot_table(authors_price, values='price', index=['author'], columns=['cover'], aggfunc=np.sum)
book_info

cover       мягкая  твердая
author
Островский   660.0      NaN
Тургенев     650.0    450.0
Чехов          NaN    950.0

In [6]:
# Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
# Затем загрузите из этого файла датафрейм и назовите его book_info2. 
# Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [7]:
book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')
book_info2

cover       мягкая  твердая
author
Островский   660.0      NaN
Тургенев     650.0    450.0
Чехов          NaN    950.0

In [8]:
book_info2.compare(book_info)

Empty DataFrame
Columns: []
Index: []