# Урок 2

##  Тема: Работа с данными в Pandas

##### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. 
В датафрейме authors_stat должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [1]:
%run hw_2_theme_2_Pandas_task_3.ipynb

In [2]:
authors_price

               author            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

In [3]:
authors_stat = pd.DataFrame({})
# min_price, max_price и mean_price
authors_stat['author_name'] = authors_price['author'].unique()

min_price_df = authors_price.groupby('author')['price'].min()  # type: pandas.core.series.Series
# print(min_price_df)
authors_stat = pd.merge(authors_stat, min_price_df, left_on='author_name', right_on='author', how='inner')
authors_stat.rename(columns={'price': 'min_price'}, inplace=True)

max_price_df = authors_price.groupby('author')['price'].max()  # type: pandas.core.series.Series
# print(max_price_df)
authors_stat = pd.merge(authors_stat, max_price_df, left_on='author_name', right_on='author', how='inner')
authors_stat.rename(columns={'price': 'max_price'}, inplace=True)

mean_price_df = authors_price.groupby('author')['price'].mean()  # type: pandas.core.series.Series
# print(mean_price_df)
authors_stat = pd.merge(authors_stat, mean_price_df, left_on='author_name', right_on='author', how='inner')
authors_stat.rename(columns={'price': 'mean_price'}, inplace=True)

authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450  366.666667
1       Чехов        450        500  475.000000
2  Островский        290        370  330.000000